@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2&family=Lobster&display=swap');.App {
    text-align: center;
}

.brand-bar {
    background-color: antiquewhite;
    font-size: x-large;
    font-family: 'Lobster', cursive;
    display: flex;         
    align-items: center;  
}

.menu-bar {
    font-family: 'Exo 2', sans-serif;
    height: 50px;
}
